@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif;
  height: 100vh;
}

body {
  height: 100%;
  margin: 0;
  background: linear-gradient(180deg, #232029,#552652, #8f748d);
  color: #ddd8e4;
}

main {
  text-align: center;
  margin: 5rem auto;
}

main img {
  width: 8rem;
  height: 8rem;
  object-fit: cover;
  filter: drop-shadow(0 0 4px #f6c363);
}

h1 {
  font-size: 3rem;
  margin: 3rem auto;
  color: #ede9f3;
  font-family: 'Poppins', sans-serif;
  display: flex;
    justify-content: center;
}

p {
  font-size: 1.5rem;
}

p a {
  color: #f4c33d;
  text-decoration: none;
  padding-bottom: 0.05rem;
  border-bottom: 2px solid #f4c33d;
}

p a:hover,
p a:active {
  color: #bd3df4;
  border-color: #bd3df4;
}


.questioner{
  display: grid;
  row-gap: 5%;
  margin: 2%;
}
#q-submit{
  margin-right: 4%;
  display: flex;
  justify-content: flex-end;
}


.loading-txt{
  margin-left: 1%;
}
.loading-spinner{
  display: flex;
  align-content: center;
}

#q-submit button {
  margin-left: 5%;
  border: cornflowerblue solid;
  border-radius: 10px;
  padding: 1%;
  background-color: lavenderblush;
  font-family: system-ui;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

#q-submit button:hover {
  background-color: rgb(246, 206, 219);
  transform: scale(1.03);
}
.response h3{
  margin-left: 1%;
}
.response-type-here{
margin-top: 1.5%;
}

.r-field{
  margin: 2%;
  padding: 1%;
  font-size: 1rem;
  border: bisque solid;
  border-radius: 20px;
}